h2 {
	/* Position */
	position: absolute;
	width: 100%;
	top: 20%;
	/* Visual */
	text-align: center;
	animation: fade-in-animation 1s;
}


@keyframes fade-in-animation {
	0% {
		opacity: 0;
		filter: blur(2px);
	}

	50% {
		opacity: 1;
	}

	100% {
		filter: blur(0);
	}
}