html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#text {
	/* Position */
	position: absolute;
	width: 100%;
	top: 20%;
	/* Visual */
	text-align: center;
}

#text div {
	height: 2em
}

#text div * {
	margin: 0;
	animation: fade-in-animation 1s ease-in-out;
}

@keyframes fade-in-animation {
	0% {
		opacity: 0;
		filter: blur(2px);
	}

	50% {
		opacity: 1;
	}

	100% {
		filter: blur(0);
	}
}

main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: blur(1rem);
	opacity: 1;
}

.fade-out {
	transition: opacity 2s ease-in-out;
	opacity: 0;
}

/* Piano */

#piano {
	width: 100%;
	max-width: 1710px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

@media (max-width:1366px) {
	#piano div:nth-last-child(-n+12) {
		display: none;
	}
}

@media (max-width:1025px) {
	#piano div:nth-child(-n+12) {
		display: none;
	}
}

@media (max-width:700px) {
	#piano div:nth-last-child(-n+24) {
		display: none;
	}
}

#piano div {
	border: 1px solid black;
}

#piano div span {
	/* Position */
	width: 100%;
	align-self: flex-end;
	margin-bottom: 1em;
	/* Visual */
	text-align: center;
}

.black {
	/* Position */
	width: 18px;
	height: 100px;
	margin: 0 -15px;
	display: flex;
	z-index: 1;
	/* Visual */
	background-color: black;
	font-size: 0;
}

.white {
	/* Position */
	width: 50px;
	height: 200px;
	margin: 0 2px;
	display: flex;
	/* Visual */
	background: rgb(241, 240, 240);
}

.all-white {
	transition-property: width, height, margin, background, font-size;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	/* Position */
	width: 50px;
	height: 200px;
	margin: 0 2px;
	display: flex;
	/* Visual */
	background: rgb(241, 240, 240);
	font-size: 1em;
}